@font-face {
  font-family: 'Monacohackwin';
  src: url('../lib/Monaco.ttf');
}
@font-face {
  font-family: 'Monacohackie';
  src: url('../lib/Monaco.eot');
}
@mixin change-button($backgroundBefore, $borderBefore, $colorBefore, $backgroundAfter, $borderAfter, $colorAfter) {
  border:1px solid $borderBefore;
  background-color: $backgroundBefore;
  color:$colorBefore;
  &:hover {
    border-color: $borderAfter;
    background-color: $backgroundAfter;
    color:$colorAfter;
  }
}
.btn-xs {
  padding: 4px 4px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 4px;
}
.btn-sm{
  padding: 4px 9px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
}
body {
  display: flex;
  flex-direction: column;
  font-size:14px;
  height: 100vh;
  margin: 0;
  font-family: 'Monaco', 'Monacohackwin', 'Monacohackie',Helvetica, Georgia, Arial, sans-serif;
  min-width:1280px;
}
header {
  flex: none;
  color:white;
  padding: 0.5em 1em;
  text-align: left;
  font-size:18px;
  background-color: #19a1f2;
  overflow: hidden;
  .btn {
    float:right;
    margin:0;
    font-size: 15px;
    line-height: 1.1;
    padding:6px 12px;
    @include change-button(transparent,white,white,#15BF63,#15BF63,white);
  }
  #rawData {
    display: none;
  }
}
main {
  display: flex;
  flex: 1 0 auto; /* 2 */
  .figures {
    flex: 1;
    display:flex;
    flex-direction:column;
    .figurs-top{
      display:flex;
      flex:1 0 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      .map{
        flex-basis: 50%;
      }
      .webgl{
        flex-basis: 50%;
      }
    }
    .parallel {
      flex:none;
      flex: 0 0 5em;
    }

  }
  nav {
    font-size:12px;
    font-weight: 100;
    flex: 0 0 20em;
    padding: 0.3em;
    border-radius: 3px;
    background: #E6F3F8;
    .file-op{
      overflow: hidden;
      #DataSourceLabel {
        float:left;
        font-size:12px;
        margin:0;
        margin-top:2px;
        max-width: 15em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      #clearFile {
        float:right;
        @include change-button(transparent,red,red,red,red,white);
      }
    }
    .neighbors-op {
      margin-top:5px;
      overflow: hidden;
      p {
        float:left;
        font-size:12px;
        margin:0;
        margin-top:2px;
      }
      .ui-slider {
        background: #bdbdbd;
        height: 2px;
        margin: 11px 0px 11px 6px;
      }
      .ui-slider-range {
        background-color: #19a1f2;
      }
      .ui-slider-handle {
        background-color: #19a1f2;
        height: 10px;
        width: 10px;
        margin-left:-5px;
        top:-3.5px;
      }
      .ui-slider-horizontal .ui-slider-handle[style*="100"] {
        margin-left:-5px;
      }
      #relatedNumSlider {
        float:left;
        width:9em;
      }
      #relatedNumLabel {
        float:right;
        width: 4em;
        padding:0;
        border:1px solid #A4D9F9;
        height:22px;
        border-radius: 4px;
        text-align: center;
      }
    }
    .begin-op {
      margin-top:5px;
      overflow: hidden;
      #beginTSNE{
        float:left;
        margin-right:5px;
        width: 90px;
        @include change-button(transparent,#19a1f2,#19a1f2,#19a1f2,#19a1f2,white);
      }
      #tSNEState{
        float:left;
        line-height:14px;
      }
    }




  }

}
