@font-face {
  font-family: 'Monacohackwin';
  src: url('../lib/Monaco.ttf');
}
@font-face {
  font-family: 'Monacohackie';
  src: url('../lib/Monaco.eot');
}
@mixin change-button($backgroundBefore, $borderBefore, $colorBefore, $backgroundAfter, $borderAfter, $colorAfter) {
  border:1px solid $borderBefore;
  background-color: $backgroundBefore;
  color:$colorBefore;
  &:hover {
    border-color: $borderAfter;
    background-color: $backgroundAfter;
    color:$colorAfter;
  }
}
.btn {
  @include change-button(transparent,#15BF63,#15BF63,#15BF63,#15BF63,white);
}
.btn-xs {
  padding: 4px 4px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 4px;
}
.btn-sm{
  padding: 4px 9px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
}
.ui-slider {
  background: #bdbdbd;
  height: 2px;
  margin: 11px 0px 11px 6px;
}
.ui-slider-range {
  background-color: #19a1f2;
}
.ui-slider-handle {
  background-color: #19a1f2;
  height: 10px;
  width: 10px;
  margin-left:-5px;
  top:-3.5px;
}
.ui-slider-horizontal .ui-slider-handle[style*="100"] {
  margin-left:-5px;
}
@keyframes loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}

.loading {
  position: relative;
  width:50px;
  height:50px;
  div:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #19a1f2;
    -webkit-animation: loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  }
}
body {
  display: flex;
  flex-direction: column;
  font-size:14px;
  height: 100vh;
  margin: 0;
  font-family: 'Monaco', 'Monacohackwin', 'Monacohackie',Helvetica, Georgia, Arial, sans-serif;
  min-width:1280px;
}
#wait {
  //.modal-dialog {
  //  position: relative;
  //  top:40%;
  //}
  .modal-body{
    overflow: hidden;
    div {
      float: left;
      font-size:15px;
      line-height:50px;
    }
    .waitOK {
      color:#15BF63;
      display: none;
    }
    .waitWarning {
      color:red;
      font-size:20px;
      display: none;
    }
    .waitTips{
      margin-left: 1em;
    }
    .waitButton{
      float: right;
      padding: 5px 15px;
      margin-top:8.5px;
      display: none;
    }
  }
}
header {
  flex: none;
  color:white;
  padding: 0.5em 1em;
  text-align: left;
  font-size:18px;
  background-color: #19a1f2;
  overflow: hidden;
  .btn {
    float:right;
    margin:0;
    font-size: 15px;
    line-height: 1.1;
    padding:6px 12px;
    margin-left: 10px;
    @include change-button(transparent,white,white,#15BF63,#15BF63,white);
  }
  #rawData,#embeddingData {
    display: none;
  }
}
main {
  display: flex;
  flex: 1 0 auto; /* 2 */
  .figures {
    flex: 1;
    display:flex;
    flex-direction:column;
    .figurs-top{
      display:flex;
      flex:1 0 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      .map{
        flex-basis: 50%;
      }
      .webgl{
        flex-basis: 50%;
      }
    }
    .figurs-bottom {
      flex: 0 0 20em;
      .parallel {
        height:75%;
      }
      .timeLine {
        height:25%;
        .canvasContainer{
          overflow: hidden;
        }
      }
    }

  }
  .right-nav {
    font-size:12px;
    font-weight: 100;
    flex: 0 0 20em;
    padding: 0.3em;
    border-radius: 3px;
    background: #E6F3F8;
    .file-op{
      overflow: hidden;
      #DataSourceLabel {
        float:left;
        font-size:12px;
        margin:0;
        margin-top:2px;
        max-width: 15em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      #clearFile {
        float:right;
        @include change-button(transparent,red,red,red,red,white);
      }
    }
    .sliderBar-op {
      margin-top:5px;
      overflow: hidden;
      p {
        float:left;
        font-size:12px;
        margin:0;
        margin-top:2px;
      }
      .sliderNum{
        float:left;
        font-size:12px;
        display: block;
        margin-top:2px;
        width: 3.5em;
        text-align: center;
      }
      .bar {
        float:left;
        width:9em;
      }
      #relatedNumLabel {
        float:right;
        width: 4em;
        padding:0;
        border:1px solid #A4D9F9;
        height:22px;
        border-radius: 4px;
        text-align: center;
      }
    }
    .begin-op {
      margin-top:5px;
      overflow: hidden;
      #beginTSNE{
        float:left;
        margin-right:5px;
        width: 90px;
        @include change-button(transparent,#19a1f2,#19a1f2,#19a1f2,#19a1f2,white);
      }
      #tSNEState{
        float:left;
        line-height:14px;
      }
    }
    .datas {
      overflow: auto;
      //.dataList {
      //  padding:5px 0;
      //  overflow: auto;
      //  li {
      //    padding:5px;
      //    list-style:none;
      //    overflow: hidden;
      //    border-bottom:1px solid transparent;
      //    span {
      //      float: left;
      //    }
      //    button {
      //      float:right;
      //    }
      //    &:hover{
      //      border-bottom:1px solid #19a1f2;
      //      cursor:pointer;
      //    }
      //    &.hover{
      //      border-bottom:1px solid #19a1f2;
      //    }
      //  }
      //
      //}
      #table{
        .chosen {
          background-color: #fff;
        }
      }
    }
  }

}
.tipBox {
  display: none;
  position:absolute;
  background-color: #0f0f0f;
  color:white;
}
